.navbar{
display:flex;
align-items: center;
    .left{
        display: flex;
        align-items: center;
        span{

        }

        .serach{
            display: flex;
            align-items: center;
            input{

            }
        }

    }


    .right{
        .user{
            img{

            }
        }

        span{


        }
    }
    

}